:root {
    /* Cores */
    --bg-1: rgb(22, 22, 22); /*Cor de Fundo 1*/
    --bg-2: rgba(39, 39, 39, 0.877); /*Cor de Fundo 2*/
    --bg-3: rgb(48, 48, 48); /*Cor de Fundo 3*/
    --cd-1: rgb(194, 160, 132); /*Cor de destque*/
    --text-1: rgb(255, 255, 255);
    --text-2: rgb(182, 182, 182);

    --fonte-1: 'Inter', sans-serif;
    --fonte-2: sans-serif;
    --tamanho-fonte-1: 24px;
    --tamanho-fonte-2: 16px;
    --tamanho-fonte-3: 14px;
}