.site-footer {
    background-color: var(--color-gray-900);
    color: var(--color-white);
}

.site-footer h5 {
    color: var(--color-secondary);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.footer-about p,
.footer-contact-list li,
.footer-links li a {
    color: var(--color-white);
    font-size: 0.95rem;
}

.btn-saiba-mais {
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    font-size: 0.9rem;
    padding: 5px 15px;
}

.btn-saiba-mais:hover {
    background-color: var(--color-secondary);
    color: var(--cor-fundo-footer);
    border-color: var(--color-secondary);
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-links a:hover {
    color: #fff;
    padding-left: 5px;
}

.footer-contact-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
}

.footer-contact-list li i {
    color: var(--color-secondary);
    margin-right: 12px;
    font-size: 1.1rem;
    width: 20px;
    text-align: center;
    margin-top: 3px;
}

/* --- Barra Inferior do Footer --- */
.footer-bottom {
    background-color: #111;
    border-top: 1px solid #333;
    color: var(--cor-texto-claro);
    font-size: 0.9rem;
}

.footer-bottom p {
    margin: 0;
}

.social-icons {
    display: flex;
    gap: 12px;
}

.social-icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.social-icon-circle:hover {
    background-color: #fff;
    color: var(--color-secondary);
}

@media (max-width: 767.98px) {


    .footer-links ul {
        display: inline-block;
        text-align: start;
    }
    .footer-links-list li {
        text-align: center;
    }

    .footer-contact-list li {
        justify-content: center;
    }
}